<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Image Crawler</title>

</head>
<body class="body">
<div>
  <div class="header">
    <h3 class="text-muted" style="text-align: center">Image Crawler</h3>
  </div>

  <div>
    <form name="myForm" class="form" >
      <h1>Enter URL</h1>
      <input type="name" name="inputURL" class="input-text" id="inputURL" placeholder="URL" ng-model="inputUrl"
             required autofocus>
      <br>
      <button class="btn" id="btnSubmit" type="submit" ng-click="checkURL()">Crawl Photos!</button>
    </form>
  </div>


</div>
<div class="col-lg-1"></div>
<div class="col-lg-10">
  <div ng-repeat="img in images" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 thumb-img" style="height: 300px; padding: 5px">
    <img src="{{ img.url }}" class="img-thumbnail col-xs-12" style="height: 100%;">
    <span class="clipBoardIcon" style="position: absolute; top:25px; right:25px;color:white;font-size: 24px;" data-toggle="tooltip" title="Copy to Clipboard"><i  class="glyphicon glyphicon-link"></i></span>
    <div class="info">Copied to Clipboard !</div>
    <span class="img-description">URL : {{img.url}}</span>
  </div>
</div>

<div class="col-lg-1"></div>

<div class="col-xs-12" style="text-align: center;">
  <p>&#169 Avishek Prasad</p>
</div>
<input type="text" id="dummyTextBox" style="position: fixed;top: -10px;">
</body>
</html>