.jumbotron {
    padding-right: 60px;
    padding-left: 60px;
    border-radius: 6px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    color: inherit;
    background-color: #eee;
    text-align: center;
    box-sizing: border-box;
    border-bottom: 1px solid #e5e5e5;
}

.body{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
}
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.btn {
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    padding: 6px 12px;
    font-size: 21px;
    border: 1px solid transparent;
    line-height: 1.3333333;
    color: #fff;
    background-color: #337ab7;
    display: block;
    width: 100%;
    border-radius: 6px;
}

.input-text {
    position: relative;
    display: block;
    width: 100%;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.form {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.container {
    max-width: 730px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.header {
    text-align: left;
    margin-top: 50px;
    padding-left: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e5e5e5;
}

img {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.thumb-img:hover > img{
    -webkit-filter: brightness(70%);
    filter: brightness(70%);
}

.thumb-img:hover > span{
    display:block;
}
span{
    display: none;
}
span:hover{
    cursor: pointer;
}
.info{
    position:absolute;
    top:60px;
    right:10px;
    display: none;
    color : white;
    background: #337ab7;
    padding: 5px;
    font-size: 15px;
    border-radius: 5px;
}